.playerChoice{
    position: absolute;
    top: 300px;
}

.displayResults{
    width: 100%;
}

.playerDisplay{
    width: 600px;
    float: left;
}

.cpuDisplay{
    margin-left: 620px;
}

body{
    background-image: url("images/green\ gradient\ .png");
}

.rock{
    background-image: url("images/rock.png");
    height: 120px;
    width: 120px;
    background-size: 100%;
    border-radius: 15%;
}

.paper{
    background-image: url("images/paper.png");
    height: 120px;
    width: 120px;
    background-size: 100%;
    border-radius: 15%;
}

.scissors{
    background-image: url("images/scissors.png");
    height: 120px;
    width: 120px;
    background-size: 100%;
    border-radius: 15%;
}

.winStatement{
    
}